<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ольга Бежева - автоинструктор
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Exo+2:800i|Fira+Sans:600i|Oswald&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./build/assets/css/main.min.css")
    body
        section.container-fluid.main_section.content
            .row.justify-content-center.main_allign
                .col.align-self-center.text-center
                    h1.main_name ольга
                    h1.main_name бежева
                    h2.prof автоинструктор
                    //- .main_name автоинструктор
            .row.main_allign.justify-content-center.align-items-center
                a(href="https://www.instagram.com/prosto_olga_avtoinstruktor/").col-auto.contacts instagram
                a(href="https://vk.com/olgabezheva").col-auto.contacts vk
                a(href="https://www.youtube.com/channel/UCq2aPqXxWCHJsVZyqAxObzw").col-auto.contacts youtube
